/*-----------------goods-detail begin-------------------------*/

.goods-detail {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 0 0 20px 0;
}

.card-panel {
    position: relative;
    box-sizing: border-box;
    padding: 15px 40px;
}

.card-panel .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.title-detail {
    width: 100%;
    margin-bottom: 10px;

}

.title-detail h5 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}

.goods-detail .title-detail .back {
    margin: 10px 10px 0 0;
    z-index: 0;
}

.goods-detail .card-image {
    margin-right: 20px;
    display: inline-block;
    float: left;
}

.goods-detail .description {
    width: 100%;
    /*  width: calc(100% - 310px);*/
}

.buttons_row {
    height: 75px;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px;
}

.rating {
    display: inline-block;
    width: 300px;
    font-size: 2em;
    margin-right: 10px;
}

.button_order {
    float: right;
    display: inline-block;
}

.detail-property {
    width: 300px;
    margin-left: 20px;
}

.detail-property h3 {
    padding: 15px 0;
    text-decoration: blink;
}

.detail-property h4 {
    font-weight: normal;
}

.detail-property ul {
    text-transform: capitalize;
    margin-left: 30px;
}

.detail-property li {
    margin: 10px 0 20px 20px;
    font-size: 1.2em;
    color: #7b7777;
}

.goods-detail .detail-feedback {
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    width: calc(100% - 310px);
}

.goods-detail .rating + .btn, .btn, .btn {
    margin: 10px 10px 10px 0;
    z-index: 0;
}

/*goods-detail end*/