/*-----------------goods-detail begin-------------------------*/

.goods-detail {
   /* background: lightgrey;*/
}
.card-panel {
    position: relative;
    box-sizing: border-box;
    padding: 15px 40px;
}

.card-panel .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.title-detail {
    width: 100%;
    margin-bottom: 10px;

}

.title-detail h5 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}

.goods-detail .title-detail .back {
    margin: 10px 10px 0 0;
    z-index: 0;
}

.goods-detail .card-image {
    margin-right: 10px;
    display: inline-block;
    float: left;
}

.goods-detail .description {
    width: 100%;
    /*  width: calc(100% - 310px);*/
}
.buttons_row{
    height: 75px;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px;
}
.rating {
    display: inline-block;
    width: 300px;
    font-size: 2em;
    margin-right: 10px;
}
.button_order{
    float: right;
    display: inline-block;
}

.goods-detail .detail-property {
    width: 300px;
    display: inline-block;
}

.detail-property ul {
    text-transform: capitalize;
}

.detail-property li {
    margin: 10px 0;
    font-size: 1.2em;
    color: #7b7777;
}

.goods-detail .detail-feedback {
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    width: calc(100% - 310px);
}

.goods-detail .rating + .btn, .btn, .btn {
    margin: 10px 10px 10px 0;
    z-index: 0;
}

/*goods-detail end*/