.horizont {
    border-bottom: 1px solid #ededed;
}

.header_top {
    height: 43px;
}

.header_top_left {
    margin: 10px 0 0 0;
    float: left;
}

.header_top_left li {
    float: left;
    list-style: none;
}

.header_top_left li:first-child {
    padding-right: 44px;
}

.header_top_left li:nth-child(2) {
    padding-right: 31px;
}

.header_top_left > li > a {
    color: #999999;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: none;
}

.header_top_left > li > a:hover, .header_top_left > li > a:focus {
    color: #333333;
}

.header_top_left > li > a:active {
    color: #fc411d;
}

nav {
    height: 100px;
}

.logo {
    float: left;
    margin: 33px 0 60px 0;
}
.logo img{
    width: 100%;
    height: auto;
}

ul.header_nav {
    list-style: none;
  /*  padding: 46px 0 0 200px;*/
    padding: 46px 0 0 15%;
}

.header_nav li {
    float: left;
/*    padding-left: 55px;*/
    padding-left: 30px;
}

.header_nav > li > a {
    color: #414141;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: none;
}

.header_nav > li > a:hover, .header_nav > li > a:focus {
    color: #333333;
    border-bottom: 2px solid #1376d4;
    transition: 500ms;
}

.header_nav > li > a:active {
    color: #fc411d;
    border-bottom: none;
}

/*--------------------dropdown-----------------------*/
.header_top_right {
    float: right;
}

.header_top_right ul li {
    display: inline-block;
}

.header_top_right ul li:hover {
    background-color: #bdbdbd;
}

.header_top_right ul li img {
    vertical-align: middle;
    padding: 0 20px 0 13px;
}

.header_currency {
    width: 140px;
    border-right: 1px solid #ededed;
}
.header_currency a{
    margin-left: 40px;
}
.header_currency ul{
    width: 140px;
}

.header_language{
    width: 50px;
    text-align: center;
}
.header_language ul{
    width: 50px;
}

.header_top_right ul li a {
    color: #999999;
    display: inline-block;
    padding: 17px 0 12px 0;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.header_top_right ul li:hover ul {
    display: block;
}

.header_top_right ul ul {
    display: none;
    position: absolute;
}

.header_top_right ul ul li {
    display: block;
    border-bottom: 1px solid #736e6e;;
}

.header_top_right ul ul li a:hover {
    color: #699;
}
