.header_top {
    height: 43px;
}

.header_top_left {
    margin: 18px 0 0 0;
    float: left;
}

.header_top_left li {
    float: left;
    list-style: none;
}

.header_top_left > li > a {
    color: #999999;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
}

.header_top_left > li > a:hover, .header_top_left > li > a:focus {
    color: #464646;
}

