form {
    margin-top: 31px;
}

input[type=search] {
    display: none;
    padding: 0 20px;
    line-height: 10;
    width: 100%;
    position: absolute;
    height: 3rem;
    font-size: 1rem;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   /* -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;*/
}

input[type=search]:focus {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    color: #444;
}
