
.subscribe {
    background: url('../../../public/img/content/subscribe.jpg');
    height: 287px;
}

.subscribe_center {
    margin: 0 auto;
    height: inherit;
    width: 380px;
    padding-top: 70px;
    text-align: center;
}

.subscribe_center h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #48677a;
}

.subscribe_center p {
    font-size: 38px;
    color: #ffffff;
    margin-top: 30px;
}

/*subscribe form - input for email*/
.subscribe_form {
    display: inline-block;
    width: 302px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 23px;
    margin-top: 33px;
}

.subscribe_email {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 10px 0 0 25px;
    padding-left: 5px;
    line-height: 2;
    width: 200px;
    border: none;
    background: transparent;
    color: #ffffff;
    outline: none;
}

.subscribe_email::-webkit-input-placeholder {
    color: #ffffff;
}

.subscribe_button {
    display: inline-block;
    float: right;
    margin: 10px 30px 0 0;
    border: none;
    background: transparent;
    outline: none;
}
.subscribe_button i {
    color: #ffffff;
}